---
import AppShellLayout from "../layouts/AppShellLayout.astro";
import { GenerationsView } from "../components/generations";

export const prerender = false;
---

<AppShellLayout title="Historia generacji | 10x Cards">
  <div class="container mx-auto px-4 py-8 max-w-4xl">
    <GenerationsView client:load />
  </div>
</AppShellLayout>
